* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    background-color: lightskyblue;
}
main {
    width: 600px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0px;
    text-align: center;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    background-color: lightgray;
}

main div #nascimento {
    width: 210px;
    height: 30px;
    border-radius: 10px;
    padding-left: 8px;

    border: 1px solid rgba(0, 0, 0, 0.452);
}
main div#info p {
    padding: 15px 0px;
}
main div #botao {
    margin: 10px;
    height: 30px;
    width: 150px;
    cursor: pointer;
    border-radius: 10px;

    border: 1px solid rgba(0, 0, 0, 0.507);
}
main div #txtresultado {
    padding-bottom: 15px;
}
main div#resultado img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer {
    font-style: italic;
    text-decoration: underline;
}

